<div mat-dialog-content>
    <p>Enter your note for {{data.story.key}}:</p>
    <mat-form-field>
        <mat-label>Note</mat-label>
        <textarea matInput [(ngModel)]="data.story.note" cdkFocusInitial></textarea>
    </mat-form-field>
    <p><mat-checkbox [(ngModel)]="data.story.isNotePrivate">private Note</mat-checkbox></p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.story.note">Ok</button>
</div>
