/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
    .mat-row {
        .mat-column-storyPoints {
            padding-left: 20px;
        }
    }
}

.story-description-jira a {
    color: mat.m2-get-color-from-palette(mat.$m2-blue-gray-palette, 50);

    &:visited {
        color: mat.m2-get-color-from-palette(mat.$m2-blue-gray-palette, 500);
    }
}


