/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
    .mat-row {
        .mat-column-storyPoints {
            padding-left: 20px;
        }
    }
}

.story-description-jira a {
    //color: mat-color($background-color, default-contrast);
    color: mat-color(mat-palette($mat-blue-gray, 50));

    &:visited {
        color: mat-color(mat-palette($mat-blue-gray, 500));
    }
}
